---
- name: Bootstrap
  hosts: all
  user: root
  gather_facts: false
  roles:
    - role: bsdkit_bootstrap

- name: One-time setup
  hosts: all
  user: root
  roles:
    - role: bsdkit_facts
      tags:
        - always
    - role: bsdkit_etc
    - role: bsdkit_settings
      tags:
        - always
    - role: bsdkit_ifconfig
    - role: bsdkit_bsdenv

- name: Configuration
  hosts: all
  user: root
  tags:
    - configure
  roles:
    - role: bsdkit_cleanup_before
    - role: bsdkit_pkg
    - role: bsdkit_basepkg
    - role: bsdkit_loader
    - role: bsdkit_sysctl
    - role: bsdkit_zoneinfo
    - role: bsdkit_pw
    - role: bsdkit_rc
    - role: bsdkit_periodic
    - role: bsdkit_ftp
    - role: bsdkit_crontab
      tags:
        - crontab
    - role: bsdkit_syslog
    - role: bsdkit_newsyslog
    - role: bsdkit_ssh
    - role: bsdkit_dotfiles
    - role: bsdkit_ssl
    - role: bsdkit_certs
    - role: bsdkit_runit
    - role: bsdkit_spiped
    - role: bsdkit_sudo
    - role: bsdkit_doas
    - role: bsdkit_vagrant
    - role: bsdkit_virtualbox
    - role: bsdkit_vmware
    - role: bsdkit_git
    - role: bsdkit_zfs
    - role: bsdkit_pkgdir
    - role: bsdkit_portacl
    - role: bsdkit_caddy
    - role: bsdkit_postgres_zfs
    - role: bsdkit_mysql_zfs
    - role: bsdkit_postgres
    - role: bsdkit_mysql
    - role: bsdkit_consul
    - role: bsdkit_nomad
    - role: bsdkit_vault
    - role: bsdkit_ntpd
    - role: bsdkit_blocklistd
    - role: bsdkit_fail2ban
    - role: bsdkit_iocage
    - role: bsdkit_jail
    - role: bsdkit_monit
      tags:
        - monit

- name: Provisioning (DigitalOcean)
  hosts: all
  user: root
  roles:
    - role: bsdkit_digitalocean
      tags:
        - provision_digitalocean
      when: platform_is_digitalocean

- name: Provisioning (AWS)
  hosts: all
  user: root
  roles:
    - role: bsdkit_aws
      tags:
        - provision_aws
      when: platform_is_aws

- name: Cleanup
  hosts: all
  user: root
  roles:
    - role: bsdkit_cleanup_after
