---
- name: Create /usr/local/etc/pkg/repos
  file:
    path: /usr/local/etc/pkg/repos
    state: directory
    owner: root
    group: wheel
    mode: "0755"

- name: Disable default FreeBSD repositories
  copy:
    content: |
      FreeBSD: {
          enabled: no
      }
      FreeBSD-ports: {
          enabled: no
      }
      FreeBSD-ports-kmods: {
          enabled: no
      }
      FreeBSD-base: {
          enabled: no
      }
    dest: /usr/local/etc/pkg/repos/FreeBSD.conf
    mode: "0644"

- name: Enable bsdkit repository
  copy:
    content: |
      bsdkit: {
          url: "{{ bsdkit_root_url }}/packages-${ABI}-{{ bsdkit_tree }}-{{ bsdkit_pkgset }}"
      }
    dest: /usr/local/etc/pkg/repos/bsdkit.conf
    mode: "0644"
