check process php-fpm with pidfile /var/run/php-fpm.pid
    start program "/usr/sbin/service php-fpm start"
    stop program "/usr/sbin/service php-fpm stop"
    restart program "/usr/sbin/service php-fpm restart"
